.hero-container {
  background-color: var(--color-neutral-1);
  background-image: url(../images/bg-hero-desktop.svg);
  padding: 2rem;
  background-repeat: repeat;
  background-size: cover;
}

.hero-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.huddle-logo {
  height: 50%;
  width: 50%;
  display: block;
}

.nav-item {
  background-color: #fff;
  padding: 1.5rem 5rem;
  border-radius: 5rem;
}

.heading-main {
  font-family: var(--font-secondary);
  font-weight: 600;
}

.text-description {
  color: var(--color-neutral-3);
  font-weight: 400;
}

.hero-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.hero-photo {
  height: 100%;
  width: 100%;
  display: block;
}

.features {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 10rem;
  align-items: center;
  gap: 2rem;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.1);
}

.feature-image {
  height: 100%;
  width: 100%;
  display: block;
}

footer {
  background-color: var(--color-neutral-2);
  color: var(--color-neutral-1);
  padding: 15rem;
}

.footer-container {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.company-info {
  flex-basis: 90%;
}

.company-logo {
  height: 100%;
  width: 100%;
  display: block;
}

.company-contact {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 2rem;
}

.footer-icon-location {
  align-self: flex-start;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.list-item {
  margin: 1rem;
}

li > a {
  text-decoration: none;
  color: currentColor;
}

.social-icons {
  display: flex;
  gap: 2rem;
}
